<!DOCTYPE html>
<html>
    <body>
        <% if (!deal) { %>
            <p>Your cards are: </p>
            <ul>
                <% cards.forEach(function(card) { %>
                    <li><%= card.number%> - <%= card.suit%> </li>
                <% }); %>
            </ul>
        <% } %>
        <% if (deal) { %>
            <form action="/deal" method="POST">
                <input type="submit" value="Deal">
            </form>
        <% } else if (userTurn) {%>
            <form action="/play" method="POST">
                <input type="submit" value="Play">
            </form>
            <form action="/stay" method="POST">
                <input type="submit" value="Stay">
            </form>
        <% } else { %>
            <form action="/botTurn" method="POST">
                <input type="submit" value="Bot turn">
            </form>
        <% } %>
        <p><%= message %></p>
    </body>
</html>