<!DOCTYPE html>
<html>
<body>

<h1>Connected to the smart contract!</h1>

<p>Contract address: <%= contract_address%></p>

<form action="/goLogin" method="POST">
    <input type="submit" value="Login">
</form>

<form action="/goRegister" method="POST">
    <input type="submit" value="Register">
</form>

</body>
</html>
