<!DOCTYPE html>
<html>
<body>
    <form action="/login" method="POST">
        Account:
        <input type="text" name="account">
        Password:
        <input type="password" name="password">
        <input type="submit" value="Submit">
    </form> 
    <p><%= message %></p>
</body>
</html>