<!DOCTYPE html>
<html>
<body>
    <form action="/register" method="POST">
        Password:
        <input type="password" name="password">
        Password again:
        <input type="password" name="password2">
        <input type="submit" value="Submit">
    </form> 
    <p><%= message %></p>
</body>
</html>